body {
  background: #C3E9E9;
  font-family: 'Poiret One', cursive;
  color: #541388;
  font-size: 20px;
  line-height: normal;
}

.container {
  width: 1000px;
  margin: 20px auto;
}

.card {
  background: white;
  margin: 40px auto;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 2px 4px 10px 4px rgba(0,0,0,0.3);
  text-align: center;
}

h1 {
  font-family: 'Special Elite', cursive;
  color: #3772FF;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: #3772FF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #29BF12;
}

h4 {
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  color: #29BF12;
}

a {
  text-decoration: none;
  color: #29BF12;
}

a:hover {
  color: #EA7AF4;
}

.img-circle {
  border-radius: 50%;
}

#profile-pic {
  width: 200px;
}

.badge {
  width: 200px;
  height: 200px;
}

.badge:hover {
  width: 150px;
  height: 150px;
}

#badge_waits {
  background: url("images/waits.png");
  background-position: center center;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#badge_waits:hover {
  background: url("images/waits_hover.png");
  background-position: center center;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#badge_jarmusch {
  background: url("images/jarmusch.png");
  background-position: center center;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#badge_jarmusch:hover {
  background: url("images/jarmusch_hover.png");
  background-position: center center;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#badge_desproges {
  background: url("images/desproges.png");
  background-position: center center;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#badge_desproges:hover {
  background: url("images/desproges_hover.png");
  background-position: center center;
  background-size: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#roflcopter {
  width: 150px;
  display:inline-block;
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding: 0;
}


@media (max-width: 1080px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
